{% extends "base.html.twig" %}

{% block title %}
	{{ category.name }}
{% endblock %}

{% block body %}
	<h1>Catégorie:
		{{ category.name }}</h1>

	<div class="row">
		{% for p in category.products %}
			<div class="col-4">
				<div class="card">
					<img src="{{ p.mainPicture }}" class="img-fluid" alt="">
					<div class="card-body">
						<span class="badge bg-secondary">{{ p.category.name }}</span>
						<h4 class="card-title">{{ p.name }}</h4>
						<h3>{{ p.price / 100 }}
							&euro;</h3>
						<p class="card-text">{{ p.shortDescription }}</p>
						<a href="#" class="btn-primary btn-sm">test</a>
						<a href="#" class="btn-success btn-sm">bouton</a>
					</div>
				</div>
			</div>
		{% endfor %}

	</div>

{% endblock %}
